body {
    background-image: url(fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: blue;
}

.titulo {
    text-align: center;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: red;
}

.subtitulo {
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    color: red;
}

h2, h3{
    text-align: center;
}

#ima {
    width: 10%;
    border-radius: 25px;
    margin-left: 45%;
    border: solid;
    border-color: black;
    border-width: 3px;
}